.editbg {
    backdrop-filter: blur(200%);
    background: linear-gradient(90deg, #180927 0%, rgb(42, 46, 107) 50%, rgba(70, 59, 218, 0.062) 100%);
    color: white;
    border-radius: 10px;
    width: 150%;
    padding: 20px;
}

.BC {
    background: none;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.add{
    margin-top: 5em;
}

.prvw{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
}

.previmg{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
}

.back {
    background:#000;
}